@font-face {
    font-family: 'brandon';
    src: url('/mobile/font/brandon-regular.otf');
}

@font-face {
    font-family: 'brandon';
    src: url('/mobile/font/brandon-medium.otf');
        font-weight: bold;
}
